@use 'variables' as v;

@mixin contenedor{
        width: 90%;
        max-width: 120rem;
        margin: 0 auto;
}
@mixin telefono{
    @media(max-width: v.$telefono){
        @content;
    }
}