//fuentes
$fuente_principal: "Montserrat", sans-serif;
$fuente_secundaria: "Fraunces", serif;

//colores
$cian: hsl(158, 36%, 37%);
$crema: hsl(30, 38%, 92%);
$blanco: hsl(0, 0%, 100%);
$cian-oscuro: hsl(152, 79%, 15%);

//mixins
$telefono: 480px;


